{% extends '/base.html.twig' %}
{% block body -%}
    <!-- MAIN CONTENT -->

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="well">
            <h1 class="txt-color-orangeDark login-header-big">Periodo de Evaluación {{ periodo.observaciones }}</h1>
            <br>
            <h5 class="txt-color-orangeDark login-header-big">Cronograma del proceso: {{ periodo.cronograma }}</h5>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="well">
            <h1 class="txt-color-orangeDark login-header-big">MED Módulo de Evaluación Docente</h1>
            <p>
                Desarrollado en coherencia con las directrices emitidas por el Consejo Superior Universitario en el
                Acuerdo 003 del 28 de enero de 2011, modificado por el Acuerdo 013 del 05 de mayo de 2011.
            </p>
            <br>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="well">
            <h1 class="txt-color-orangeDark login-header-big">Periodo Académico</h1>
            <table class="table table-bordered hidden-mobile" style="width: 100%">
                <thead>
                <tr>
                    <th>Peraca</th>
                    <th>Periodo</th>
                    <th>Semanas</th>
                    <th>Eventos académicos</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>

                {% for periodoa in periodo.periodoa %}
                <tr>
                    <td>{{ periodoa.id }}</td>
                    <td>{{ periodoa.nombre }}</td>
                    <td>{{ periodoa.semanas }}</td>
                    <td>{{ periodoa.fechainicio | date('Y-m-d') }} al
                        {{ periodoa.fechafin | date('Y-m-d') }}</td>
                    <td>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="well">
            <h1 class="txt-color-orangeDark login-header-big">Acceso simulado</h1>

                <form method="get" action="?php echo $_GET['_quieroser'];?">
                    <fieldset>
                        <p><label>ID <input type=text name=_quieroser></label>
                            <button>Enviar</button>
                        </p>
                    </fieldset>
                </form>
        </div>
    </div>
    {% endif %}

{% endblock %}
