{% block body -%}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
        <h4 class="modal-title">{{ entity.actividad.rol.nombre }}</h4>
    </div>            <!-- /modal-header -->
    <div class="modal-body">
    <form action="{{ path('dofe_calificarupdate', { 'id': entity.id }) }}" method="post" {{ form_start(edit_form) }}
        <table class="table table-bordered table-striped hidden-mobile">
            <input type="hidden" name="_method" value="PUT"/>
            <tr>
                <td>Rol Líder</td>
                <td>{{ entity.actividad.descripcion }}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
            </tr>

            <tr>
                <td>Calificación:</td>
                <td>
                    1.0 - 1.9	BAJO<br>
                    2.0 - 3.6	BÁSICO<br>
                    3.7 - 3.9   ESTÁNDAR<br>
                    4.0 - 4.3	AVANZADO<br>
                    4.4 - 5.0	SUPERIOR
                </td>
            </tr>
            <tr>
                <td colspan="2" style="align-content: center">
                    <div style="width: 100%; align-content: center; display: block">
                        {{ form_label(edit_form.calificacion,  'Calificación:') }}
                        {{ form_widget(edit_form.calificacion)}}
                        {{ form_errors(edit_form.calificacion) }}
                        <h5 style="width: min-content" id="myCalificacion"></h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="align-items: center">
                    {{ form_label(edit_form.observaciones,  'Observaciones') }}<br>
                    {{ form_widget(edit_form.observaciones)}}
                    {{ form_errors(edit_form.observaciones) }}
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">
                        <button  id="buttonLiderCalf" type="hidden" class="btn btn-lg btn-primary" disabled="disabled">Calificar</button>
                </td>

            </tr>
            <font color="#F87217">{{ form_errors(edit_form) }}</font>
            {{ form_widget(edit_form._token) }}
        </table>
    </div>
{% endblock %}
