{% block body -%}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
        <h4 class="modal-title">{{ entity.actividad.rol.nombre }}</h4>
    </div>            <!-- /modal-header -->
    <div class="modal-body">
    <form action="{{ path('dofe_calificarupdate', { 'id': entity.id }) }}" method="post" {{ form_start(edit_form) }}
        <table class="table table-bordered table-striped hidden-mobile">
            <input type="hidden" name="_method" value="PUT"/>
            <tr>
                <td>Rol Líder</td>
                <td>{{ entity.actividad.descripcion }}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
            </tr>

            <tr>
                <td>Calificación:</td>
                <td>
                    0 - 0.9	Incumplimiento total		No cumple con ningún aspecto de su responsabilidad principal.<br>
                    1 - 1.9	Cumplimiento muy bajo	Cumple con una mínima proporción de su responsabilidad principal.<br>
                    2 - 2.9	Cumplimiento bajo		Cumple con una proporción básica de su responsabilidad principal.<br>
                    3 - 3.9	Cumplimiento medio		Cumple con más de la mitad de su responsabilidad principal.<br>
                    4 - 4.9	Cumplimiento alto			Cumple con casi toda su responsabilidad principal.<br>
                    5		Cumplimiento total		Cumple plenamente con su responsabilidad principal.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ form_row(edit_form.calificacion)}}
                    {{ form_errors(edit_form.calificacion) }}
                </td>
            </tr>
            <tr>
                {% if eval.calificacion == null %}
                <td>
                    <h1 id="myCalificacion"></h1>
                </td>
                <td style="vertical-align: middle">
                        <button type="hidden" class="btn btn-lg btn-primary">Calificar</button>
                </td>
                {% endif %}

            </tr>
            <font color="#F87217">{{ form_errors(edit_form) }}</font>
            {{ form_widget(edit_form._token) }}
        </table>
    </div>
{% endblock %}
