{% extends '/base.html.twig' %}
{% block body -%}
    <h3>Roles para autoevaluación de : {{ entity.docente.user.nombres }} {{ entity.docente.user.apellidos }}
        : {{ entity.docente.user.id }}</h3>

    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <tbody>
        <tr>
            <td>Fecha creación: {{ entity.fechacreacion? entity.fechacreacion|date('Y-m-d H') :'' }}</td>
            <td>Fecha cierre: {{ entity.fechacierre? entity.fechacierre|date('Y-m-d H:i') : '' }}</td>
        </tr>
        <tr>
            <td colspan="2">Estado:
                {{ entity.estado }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2 style="color: #953b39">Importante antes oprimir el bóton "Confirmar Asignación":</h2>
                <ul>
                    <li>Si usted desempeño el rol de "Acompañamiento" y no aparece en el siguiente registro solicite al
                        director de curso que lo agregue a la red antes de continuar.
                    </li>
                    <li>Si usted desempeño el rol "Director de curso" y no aparece en el siguiente registro solicite al
                        líder de programa que lo asigne como director antes de continuar.
                    </li>
                    <li>Si tiene registrado un Rol que no realizo debe confirmar la asignación y luego en la
                        autoevaluación seleccionar la opción “No Aplica” y escribir una observación.
                    </li>
                    <li>Si NO tiene registrado un Rol que realizo debe confirmar la asignación y luego en la
                        autoevaluación describa el avance del mismo en la casilla "Observaciones".
                    </li>
                </ul>

            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped hidden-mobile" style="width: 95%">
        <thead>
        <tr>
            <th>Registro de roles para autoevaluación del periodo {{ periodo.observaciones }}</th>
        </tr>
        </thead>
        <tbody>
        {% set num = 0 %} {% set totalhoras = 0 %}
        {% set termino = 1 %}
        {% for rol in entity.roles %}

            <tr>
                {% set num = num+1 %}
                <td>{{ num }}.
                    {{ rol.rol.nombre }}<br>
                    {% if rol.descripcion %}
                        {{ rol.descripcion }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3">
                {% if entity.estado != 'Confirmado' %}
                    <a data-toggle="modal" data-target="#ModalCerrar" class="btn btn-labeled btn-success"><span
                                class="btn-label"><i class="glyphicon glyphicon-thumbs-up"></i></span>Confirmar
                        Asignación</a>
                {% else %}
                    <a href="{{ path('plangestion_show') }}"
                       class="btn btn-primary btn-xs">Iniciar Autoevaluación <i class="fa fa-sign-in"></i></a>
                {% endif %}
                <a  href="{{ path('home_user_inicio') }}" class="btn btn-labeled btn-warning"><span
                            class="btn-label"><i class="glyphicon glyphicon-fast-backward"></i></span> Regresar
                    </a>
            </td>
        </tr>

        </tbody>
    </table>
    <div class="alert alert-info alert-block">
        <h4 class="alert-heading">IMPORTANTE:</h4>
        El proceso de autoevaluación se realiza principalmente por los roles de formación: Acompañamiento, director de
        curso, consejero acádemico, componente práctico y docente líder es
        posible que tambien encuentre otras actividades pero no son relevantes para finalizar el proceso.
        En caso de no encontrar ningún rol el sistema le asignara: “Otras Actividades”.
    </div>
    <br>
    </table>

    <br>
    <div class="modal fade" data-refresh="true" id="ModalCerrar" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                    <h4 class="modal-title">Confirmar Asignación</h4>
                </div>            <!-- /modal-header -->
                <div class="modal-body">
                    IMPORTANTE:
                    Luego de confirmar no podrá realizar cambios en los roles asignados.<br>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('plangestion_confirm', { 'id': entity.docente.id }) }}" method="get">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <td>
                            <button type="hidden" class="btn btn-primary">Confirmar Asignación</button>
                        </td>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}
