{% extends '/base.html.twig' %}

{% block body -%}

    <h1>Registro del Cumplimiento del Plan de Trabajo
        de {{ entity.docente.user.nombres }} {{ entity.docente.user.apellidos }} : {{ entity.docente.user.id }} </h1>

    <table class="table table-bordered hidden-mobile" style="width: 95%">
        <thead>
        <tr>
            <th>Actividad</th>
            <th>Accción</th>
            <th>Adjunto</th>
        </tr>
        </thead>
        <tbody>
        {% set temp = 'temp' %} {% set num = 0 %}
        {% set termino = 1 %}
        {% set resp = "0" %}
        {% for actividad in entity.actividades %}
            <tr>
            {% if temp != actividad.actividad.rol.nombre %}
                <td colspan="3">
                    <b>Rol:
                        {{ actividad.actividad.rol.nombre }}
                        {% set temp = actividad.actividad.rol.nombre %}
                    </b>
                    <br>{{ actividad.actividad.rol.descripcion }}
                </td>
            {% endif %}

            {% if actividad.actividad.responsabilidad.codigo != resp %}
                {% set resp = actividad.actividad.responsabilidad.codigo %}
                <tr>
                    <td colspan="3"><b> Responsabilidad: {{ actividad.actividad.responsabilidad.codigo }}
                            - {{ actividad.actividad.responsabilidad.nombre }}.</b></td>
                </tr>
            {% endif %}
            </tr>
            <tr>
                {% set num = num+1 %}
                <td>
                    {% if actividad.plang.autoevaluacion is null %}
                        {% if actividad.observaciones %}
                            <a data-toggle="modal" href="{{ path('actividadplang_borrar', { 'id': actividad.id }) }}"
                               data-target="#myModal" class="btn btn-default btn-xs txt-color-red"><i
                                        class="fa fa-trash-o"></i></a>
                        {% else %}
                            <a data-toggle="modal" href="{{ path('actividadplang_dofe', { 'id': actividad.id }) }}"
                               data-target="#myModal" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if actividad.path %}
                        {{ actividad.id }}
                        <a href="../../../{{ actividad.webpath }}" target="_blank"><i class="fa fa-download"></i>Ver...</a>
                    {% endif %}
                </td>
                <td>
                    {% if actividad.path %}
                        <a href="../../../{{ actividad.webpath }}" target="_blank"
                           class="btn btn-default btn-xs txt-color-green"><i class="fa fa-download"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" data-refresh="true" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}
